<ul>
<% movie.errors.full_messages.each do |error| %>
  <li><%=error %></li>
<% end %>
<%= form_for movie do |f| %>
  <p>
    <%=f.label :title, "Title" %> <%=f.text_field :title %>
  </p>
  <p>
    <%=f.label :director_name, "Director" %> 
    <%=f.text_field :director_name %>
    <%#= f.collection_select :director_id, Director.all, :id, :name, prompt: true %>
  </p>
  <p>
    <%=f.label :year, "Year" %> <%=f.text_field :year %>
  </p>
  <p>
    <%=f.label :plot_keywords, "Plot Keywords" %> <%=f.text_field :plot_keywords %>
  </p>
  <p>
    <%=f.submit movie.new_record? ? "Create Movie" : "Update" %>
  </p>
<% end %>